<%- include("partials/header") %>

<div class="form-container">
  <h1>Edit Province</h1>
  <form action="/<%= province._id %>?_method=PUT" method="POST">
    <div class="form-field-group">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= province.name %>" required />
    </div>

    <div class="form-field-group">
      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        value="<%= province.description %>"
        required
      />
    </div>

    <div class="form-field-group">
      <label for="known_for">Known For</label>
      <input
        type="text"
        name="known_for"
        value="<%= province.known_for %>"
        required
      />
    </div>

    <h3>Pictures</h3>
    <div id="pictures_section">
      <% province.pictures.forEach(p => { %>
      <div class="form-field-group">
        <label>Picture</label>
        <input type="text" name="pictures" value="<%= p.img %>" required />
      </div>
      <% }) %>
    </div>

    <h3>Famous People</h3>
    <div id="people_section">
      <% province.famous_people.forEach(person => { %>
      <div class="form-field-group">
        <label>Name</label>
        <input type="text" name="names" value="<%= person.name %>" required />
        <label>Bio</label>
        <input type="text" name="bios" value="<%= person.bio %>" required />
        <label>Image</label>
        <input type="text" name="people_imgs" value="<%= person.img %>" />
      </div>
      <% }) %>
    </div>

    <h3>Famous Food</h3>
    <div id="food_section">
      <% province.famous_food.forEach(food => { %>
      <div class="form-field-group">
        <label>Name</label>
        <input
          type="text"
          name="food_names"
          value="<%= food.name %>"
          required
        />
        <label>Description</label>
        <input
          type="text"
          name="food_descriptions"
          value="<%= food.description %>"
          required
        />
        <label>Image</label>
        <input type="text" name="food_imgs" value="<%= food.img %>" required />
      </div>
      <% }) %>
    </div>

    <div class="form-buttons">
      <button onclick="add_picture()" type="button" class="add-btn">
        Add Picture
      </button>
      <button onclick="add_bio()" type="button" class="add-btn">
        Add person
      </button>
      <button onclick="add_food()" type="button" class="add-btn">
        Add Food
      </button>
      <button type="submit" class="submit-btn">Save</button>
    </div>
  </form>
  <br />
  <a href="/">home page</a>
</div>

<%- include("partials/footer") %>
