<%- include("partials/header") %>

<div class="form-container">
  <h1>Edit Province</h1>
  <form action="/<%= province._id %>?_method=PUT" method="POST">
    <div class="section">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= province.name %>" required />

      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        value="<%= province.description %>"
        required
      />

      <label for="known_for">Known For</label>
      <input
        type="text"
        name="known_for"
        value="<%= province.known_for %>"
        required
      />
    </div>

    <div id="pictures_section" class="section">
      <h4>Pictures</h4>
      <% province.pictures.forEach(p => { %>
      <div class="picture-group">
        <label>Picture</label>
        <input type="text" name="pictures" value="<%= p.img %>" required />
      </div>
      <% }) %>
    </div>

    <div id="people_section" class="section">
      <h4>Famous People</h4>
      <% province.famous_people.forEach(person => { %>
      <div class="people-group">
        <label>Name</label>
        <input type="text" name="names" value="<%= person.name %>" required />
        <label>Bio</label>
        <input type="text" name="bios" value="<%= person.bio %>" required />
        <label>Image</label>
        <input type="text" name="people_imgs" value="<%= person.img %>" />
      </div>
      <% }) %>
    </div>

    <div id="food_section" class="section">
      <h4>Famous Food</h4>
      <% province.famous_food.forEach(food => { %>
      <div class="food-group">
        <label>Name</label>
        <input
          type="text"
          name="food_names"
          value="<%= food.name %>"
          required
        />
        <label>Description</label>
        <input
          type="text"
          name="food_descriptions"
          value="<%= food.description %>"
          required
        />
        <label>Image</label>
        <input type="text" name="food_imgs" value="<%= food.img %>" required />
      </div>
      <% }) %>
    </div>

    <div class="form-buttons">
      <button onclick="add_picture()" type="button">Add Picture</button>
      <button onclick="add_bio()" type="button">Add person</button>
      <button onclick="add_food()" type="button">Add Food</button>
      <button type="submit">Save</button>
    </div>
  </form>
  <br />
  <a href="/">home page</a>
</div>

<%- include("partials/footer") %>
