<%- include("partials/header") %>

<div class="container">
  <h1>List of Provinces</h1>
  <a href="/user/register" class="add-btn"> Sing up </a>
  <br />
  <a href="/user/log_in" class="add-btn"> log in </a>

  <div class="action-buttons">
    <a href="/new" class="add-btn">Add New Province</a>
  </div>

  <ul class="province-list">
    <% provinces.forEach(p => { %>
    <li class="province-card">
      <% if (p.pictures && p.pictures.length > 0) { %>
      <img
        src="<%= p.pictures[0].img %>"
        alt="Image of <%= p.name %>"
        class="province-card-image"
      />
      <% } %>
      <div class="province-card-content">
        <h3><a href="/<%= p._id%>"> <%= p.name %> </a></h3>
        <p><%= p.description %></p>
      </div>
      <div class="province-card-actions">
        <form action="/<%=p._id %>?_method=DELETE" method="post">
          <button type="submit" class="delete-btn">
            <i class="fas fa-trash-alt"></i>
          </button>
        </form>
      </div>
    </li>
    <% }) %>
  </ul>
</div>

<%- include("partials/footer") %>
