<style>
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
  }

  h1,
  h2 {
    color: #4a4e69;
    border-bottom: 2px solid #a3a6c5;
    padding-bottom: 5px;
    margin-top: 40px;
  }

  a {
    color: #2a9d8f;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  #updateBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: #6c757d;
    transition: background-color 0.3s ease-in-out;
  }

  img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 4px 10px black;
    margin-bottom: 20px;

    display: inline-block;
    margin-right: 15px;
  }

  p {
    line-height: 1.6;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  ul ul li {
    background-color: #fafafa;
    border: none;
    padding: 5px 0 5px 20px;
    margin-bottom: 5px;
  }

  #li_head {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    display: block;
  }

  strong {
    color: #333;
  }

  #peopls {
    display: flex;
    width: 300px;
  }

  #peopls ul {
    display: flex;
    padding-left: 30px;
  }
</style>

<h2><%= province.name %></h2>

<% province.pictures.forEach(pic => { %>
<img src="<%= pic.img %>" width="300px" />

<% }) %>
<p><%= province.description %></p>
<p>this province is known for:<strong> <%= province.known_for %></strong></p>

<h1>famous people</h1>
<span id="peopls">
  <% province.famous_people.forEach(el => { %>
  <ul>
    <li>
      <img src="<%= el.img %>" />
      <span id="li_head"><%= el.name %></span>
      <ul>
        <li><%= el.bio %></li>
      </ul>
    </li>
  </ul>

  <% }) %>
</span>
<h1>famous food</h1>
<% province.famous_food.forEach(el => {%>
<ul>
  <li>
    <img src="<%= el.img %> " width="300px" />
    <span id="li_head"> <%= el.name %> </span>
    <ul>
      <li><%= el.description %></li>
    </ul>
  </li>
</ul>

<%}) %>

<br />

<a href="/">go back</a>
<a href="/<%= province._id %>/edit" id="updateBtn"> update </a>
