<h2><%= province.name %></h2>
<p><%= province.description %></p>
<p>this province is known for:<strong> <%= province.knownFor %></strong></p>

<h1>famous people</h1>
<ul>
  <li>
    <% province.famous_people.forEach(el => { %> <%= el.name %> bio: <%= el.bio
    %> <% }) %>
  </li>
</ul>

<h1>famous food</h1>
<ul>
  <li><%= %></li>
</ul>

<a href="/">go back</a>
