<%- include("partials/header") %>

<div class="container">
  <h2><%= province.name %></h2>

  <div class="image-gallery">
    <% province.pictures.forEach(pic => { %>
    <img src="<%= pic.img %>" alt="Image of <%= province.name %>" />
    <% }) %>
  </div>

  <p><%= province.description %></p>
  <p>This province is known for: <strong><%= province.known_for %></strong></p>

  <div class="content-block">
    <h3>Famous People</h3>
    <ul class="grid-container">
      <% province.famous_people.forEach(el => { %>
      <li class="card">
        <img src="<%= el.img %>" alt="<%= el.name %>" />
        <h4><%= el.name %></h4>
        <p><%= el.bio %></p>
      </li>
      <% }) %>
    </ul>
  </div>

  <div class="content-block">
    <h3>Famous Food</h3>
    <ul class="grid-container">
      <% province.famous_food.forEach(el => {%>
      <li class="card">
        <img src="<%= el.img %>" alt="<%= el.name %>" />
        <h4><%= el.name %></h4>
        <p><%= el.description %></p>
      </li>
      <%}) %>
    </ul>
  </div>



    <div class="content-block comment-container">
      <h3>Comments</h3>

      <div class="comments-section">
        <% if (comments && comments.length > 0) { %>
        <ul class="comments-list">
          <% comments.forEach(comment => { %>
          <li class="comment-item">
            <b> <%= comment.user.full_name %> </b> <%=comment.Content %>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p class="no-comments">No comments yet. Be the first to leave one!</p>
        <% } %>
      </div>

      <!-- Comment form -->
      <form action="/comment" method="post" class="comment-form">
        <label for="comment">Leave a Comment</label>
        <input
          type="text"
          id="comment"
          name="comment"
          placeholder="Write your comment here..."
          required
        />

        <input type="hidden" name="provinceId" value="<%= province._id %>" />



        <% if (logged_in_user) { %>
<input type="submit" value="Submit" class="submit-btn" />
       <% } else { %> 
        <p> please log in to comment </p>
        <%} %> 
        
      </form>
    </div>

    <div class="action-buttons">
      <a href="/" class="btn-secondary">Go Back</a>
      <a href="/<%= province._id %>/edit" class="add-btn">Update</a>
    </div>
  </div>

  <%- include("partials/footer") %>
  <%= footer %>
</div>

