<%- include("partials/header") %>

<div class="container">
  <h2><%= province.name %></h2>

  <div class="image-gallery">
    <% province.pictures.forEach(pic => { %>
    <img src="<%= pic.img %>" alt="Image of <%= province.name %>" />
    <% }) %>
  </div>

  <p><%= province.description %></p>
  <p> <strong> <%= province.name %> </strong> <br>  Is known for  <%= province.known_for %></p>

  <div class="content-block">
    <h3>Famous People</h3>
    <ul class="grid-container">
      <% province.famous_people.forEach(el => { %>
      <li class="card">
        <img src="<%= el.img %>" alt="<%= el.name %>" />
        <h4><%= el.name %></h4>
        <p><%= el.bio %></p>
      </li>
      <% }) %>
    </ul>
  </div>

  <div class="content-block">
    <h3>Famous Food</h3>
    <ul class="grid-container">
      <% province.famous_food.forEach(el => {%>
      <li class="card">
        <img src="<%= el.img %>" alt="<%= el.name %>" />
        <h4><%= el.name %></h4>
        <p><%= el.description %></p>
      </li>
      <%}) %>
    </ul>
  </div>



    <div class="content-block comment-container">
      <h3>Comments</h3>

      <div class="comments-section">
        <% if (comments && comments.length > 0) { %>
        <ul class="comments-list">
          <% comments.forEach(comment => { %>
          <li class="comment-item">
            <b> <%= comment.user.full_name %> </b> <span style=" <%= comment.edited ? '' : comment.edited = 'display: none' %>" id="edited_comment" > Edited </span>
            <ul style="list-style-type: none;"> <li> 
            <%=comment.Content %>

            </li></ul>
            
                <% if (logged_in_user && comment.user._id.toString() === logged_in_user._id) { %>

                  <!-- edit -->
                  <button onclick="toggleEditForm('<%= comment._id %>')">Edit</button>
  
                  <form id="editForm-<%= comment._id %>" action="/comment/<%= comment._id %>?_method=PUT" method="POST" style="display:none; margin-top:5px;">
                    <input type="text" name="Content" value="<%= comment.Content %>" />
                    <button type="submit">Save</button>
                    <button type="button" onclick="toggleEditForm('<%= comment._id %>')">Cancel</button>
                  </form>
                      <!-- delete -->
                  <form action="/comment/<%= comment._id %>?_method=DELETE" method="POST" style="display:inline;">
                  
                      <button type="submit" class="delete-btn">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                  </form>
    <% } %>
            
          </li>
       
            
         
          <% }) %>
         
        </ul>
        <% } else { %>
        <p class="no-comments">No comments yet. Be the first to leave one!</p>
        <% } %>
      </div>

      <!-- Comment form -->
      <form action="/comment" method="post" class="comment-form">
        <label for="comment">Leave a Comment</label>
        <input
          type="text"
          id="comment"
          name="comment"
          placeholder="Write your comment here..."
          required
        />

        <input type="hidden" name="provinceId" value="<%= province._id %>" />



        <% if (logged_in_user) { %>
        <input type="submit" value="Submit" class="submit-btn" />
        <!-- <input type="button" value="delete"> -->
       <% } else { %> 
        <p> please <a href="/user/log_in"> log in </a> to comment </p>
        <%} %> 
        
      </form>
    </div>

    <div class="action-buttons">
      <a href="/" class="btn-secondary">Go Back</a>
      <% if (logged_in_user) { %>
      <a href="/<%= province._id %>/edit" class="add-btn">Update</a>
      <% } %>
    </div>
  </div>

  <%- include("partials/footer") %>
  <%= footer %>
</div>

