<%- include('../partials/header') %>

<div class="profile-container">
  <h2>User Profile</h2>

  <div class="profile-card">
    <img
      class="profile-picture"
      src="<%= user.profile_pictures %>"
      alt="Profile Picture"
    />

    <div class="profile-info">
      <h3 class="profile-name"><%= user.full_name %></h3>
      <p class="profile-bio">Bio: <%= user.bio || "No bio yet." %></p>

      <a
        href="/user/edit/<%= user._id %>"
        class="add-btn"
        style="display: block"
        >Edit</a
      >
    </div>
  </div>

  <a href="/" class="back-link"> Home</a>
</div>
